<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jp.co.misumi.mapper.InptDataMapper">

	<resultMap id="InptMap" type="jp.co.misumi.model.InptData">
        <result property="cometSeq" column="COMET_SEQ" />
        <result property="dataDiv" column="DATA_DIV" />
        <result property="totalWeight" column="TOTAL_WEIGHT" />
        <result property="totalQty" column="TOTAL_QTY" />
        <result property="soAmount" column="SO_AMOUNT" />
        <result property="subtotalSoAmount" column="SUBTOTAL_SO_AMOUNT" />
        <result property="taxAmount" column="TAX_AMOUNT" />
        <result property="tenthsDiscountedCost" column="TENTHS_DISCOUNTED_COST" />
        <result property="totalAmountPrice" column="TOTAL_AMOUNT_PRICE" />
        <result property="deliNoteNoMjp" column="DELI_NOTE_NO_MJP" />
        <result property="totalSAmountMjp" column="TOTAL_S_AMOUNT_MJP" />
        <result property="ntvMcPlantName" column="NTV_MC_PLANT_NAME" />
        <result property="classifyCd" column="CLASSIFY_CD" />
        <result property="brandName" column="BRAND_NAME" />
        <result property="ntvBrandName" column="NTV_BRAND_NAME" />
        <result property="brandNameForProductCd" column="BRAND_NAME_FOR_PRODUCT_CD" />
        <result property="shippingCarrierName" column="SHIPPING_CARRIER_NAME" />
        <result property="shippingCarrierAbb" column="SHIPPING_CARRIER_ABB" />
        <result property="ntvSubsidiaryName" column="NTV_SUBSIDIARY_NAME" />
        <result property="subsidiaryName" column="SUBSIDIARY_NAME" />
        <result property="subsidiaryNtvAddress_1" column="SUBSIDIARY_NTV_ADDRESS_1" />
        <result property="subsidiaryAddress_1" column="SUBSIDIARY_ADDRESS_1" />
        <result property="subsidiaryNtvAddress_2" column="SUBSIDIARY_NTV_ADDRESS_2" />
        <result property="subsidiaryAddress_2" column="SUBSIDIARY_ADDRESS_2" />
        <result property="subsidiaryNtvAddress_3" column="SUBSIDIARY_NTV_ADDRESS_3" />
        <result property="subsidiaryAddress_3" column="SUBSIDIARY_ADDRESS_3" />
        <result property="subsidiaryNtvAddress_4" column="SUBSIDIARY_NTV_ADDRESS_4" />
        <result property="subsidiaryAddress_4" column="SUBSIDIARY_ADDRESS_4" />
        <result property="subsidiaryTel" column="SUBSIDIARY_TEL" />
        <result property="subsidiaryFax" column="SUBSIDIARY_FAX" />
        <result property="subsidiaryPostalCd" column="SUBSIDIARY_POSTAL_CD" />
        <result property="subsidiaryCountryCd" column="SUBSIDIARY_COUNTRY_CD" />
        <result property="subsidiaryLicenceNo" column="SUBSIDIARY_LICENCE_NO" />
        <result property="subsidiaryVatRegistrationNumber" column="SUBSIDIARY_VAT_REGISTRATION_NUMBER" />
        <result property="deptCountryCd" column="DEPT_COUNTRY_CD" />
        <result property="ntvCountryName_1" column="NTV_COUNTRY_NAME_1" />
        <result property="countryName" column="COUNTRY_NAME" />
        <result property="purcCountryName" column="PURC_COUNTRY_NAME" />
        <result property="custUpsCountryCd" column="CUST_UPS_COUNTRY_CD" />
        <result property="custNtvCountryName_1" column="CUST_NTV_COUNTRY_NAME_1" />
        <result property="custCountryName" column="CUST_COUNTRY_NAME" />
        <result property="originNtvCountryName_1" column="ORIGIN_NTV_COUNTRY_NAME_1" />
        <result property="originCountryName" column="ORIGIN_COUNTRY_NAME" />
        <result property="shipToUpsCountryCd" column="SHIP_TO_UPS_COUNTRY_CD" />
        <result property="shipToNtvCountryName_1" column="SHIP_TO_NTV_COUNTRY_NAME_1" />
        <result property="shipToCountryName" column="SHIP_TO_COUNTRY_NAME" />
        <result property="billToNtvCountryName_1" column="BILL_TO_NTV_COUNTRY_NAME_1" />
        <result property="billToCountryName" column="BILL_TO_COUNTRY_NAME" />
        <result property="ntv1CompanyName" column="NTV1_COMPANY_NAME" />
        <result property="companyName" column="COMPANY_NAME" />
        <result property="purcCountryCd" column="PURC_COUNTRY_CD" />
        <result property="ntv2CompanyName" column="NTV2_COMPANY_NAME" />
        <result property="custShipmode" column="CUST_SHIPMODE" />
        <result property="headerRef" column="HEADER_REF" />
        <result property="engHeaderRef" column="ENG_HEADER_REF" />
        <result property="carrierAcctNo" column="CARRIER_ACCT_NO" />
        <result property="custSubsidiaryCd" column="SUBSIDIARY_CD" />
        <result property="mcCd" column="MC_CD" />
        <result property="custCd" column="CUST_CD" />
        <result property="subsidiaryCd" column="CUSTSUB_SUBSIDIARY_CD" />
        <result property="supplierCd" column="SUPPLIER_CD" />
        <result property="mcPlantDiv" column="MC_PLANT_DIV" />
        <result property="shipToCd" column="SHIP_TO_CD" />
        <result property="vrd" column="VRD" />
        <result property="vsd" column="VSD" />
        <result property="yPartNoDiv" column="Y_PART_NO_DIV" />
        <result property="custRefLength" column="CUST_REF_LENGTH" />
        <result property="custRef" column="CUST_REF" />
        <result property="custSubRef" column="CUST_SUB_REF" />
        <result property="globalNo" column="GLOBAL_NO" />
        <result property="productCd" column="PRODUCT_CD" />
        <result property="innerCd" column="INNER_CD" />
        <result property="productAssort" column="PRODUCT_ASSORT" />
        <result property="soQty" column="SO_QTY" />
        <result property="purchaseUnitPrice" column="PURCHASE_UNIT_PRICE" />
        <result property="excludeTaxSUPrice" column="EXCLUDE_TAX_S_U_PRICE" />
        <result property="deliDiv" column="DELI_DIV" />
        <result property="packingRank" column="PACKING_RANK" />
        <result property="specifyVoucherDiv" column="SPECIFY_VOUCHER_DIV" />
        <result property="moveTicketDiv" column="MOVE_TICKET_DIV" />
        <result property="deliDeptCd" column="DELI_DEPT_CD" />
        <result property="deliAttentionCd" column="DELI_ATTENTION_CD" />
        <result property="ntvDeliDept" column="NTV_DELI_DEPT" />
        <result property="grp" column="GRP" />
        <result property="ntvDeliAttention" column="NTV_DELI_ATTENTION" />
        <result property="brandCd" column="BRAND_CD" />
        <result property="ntvCustDept" column="NTV_CUST_DEPT" />
        <result property="ntvCustAttention" column="NTV_CUST_ATTENTION" />
        <result property="custsubMcPlantCd" column="CUSTSUB_MC_PLANT_CD" />
        <result property="paymentTerms" column="PAYMENT_TERMS" />
        <result property="incoterms" column="INCOTERMS" />
        <result property="settlementMethod" column="SETTLEMENT_METHOD" />
        <result property="voucherDiv" column="VOUCHER_DIV" />
        <result property="custsubCustCd" column="CUSTSUB_CUST_CD" />
        <result property="custsubShipToCd" column="CUSTSUB_SHIP_TO_CD" />
        <result property="custCategoryCd" column="CUST_CATEGORY_CD" />
        <result property="sovoucherno" column="SO_VOUCHER_NO" />
        <result property="soDate" column="SO_DATE" />
        <result property="weight" column="WEIGHT" />
        <result property="weightUnit" column="WEIGHT_UNIT" />
        <result property="countryOfOrigin" column="COUNTRY_OF_ORIGIN" />
        <result property="sUnitPriceCcyCd" column="S_UNIT_PRICE_CCY_CD" />
        <result property="pUnitPriceCcyCd" column="P_UNIT_PRICE_CCY_CD" />
        <result property="includeTaxSUPrice" column="INCLUDE_TAX_S_U_PRICE" />
        <result property="otherDsctAmount" column="OTHER_DSCT_AMOUNT" />
        <result property="crd" column="CRD" />
        <result property="transportMeans" column="TRANSPORT_MEANS" />
        <result property="hazardFlg" column="HAZARD_FLG" />
        <result property="directShipFlg" column="DIRECT_SHIP_FLG" />
        <result property="automobileStandardCd" column="AUTOMOBILE_STANDARD_CD" />
        <result property="storkChargeApplyDiv" column="STORK_CHARGE_APPLY_DIV" />
        <result property="deliNoteNo" column="DELI_NOTE_NO" />
        <result property="originalDeliNoteNo" column="ORIGINAL_DELI_NOTE_NO" />
        <result property="productCdMst" column="PRODUCT_CD_MST" />
        <result property="poQtyPerCase" column="PO_QTY_PER_CASE" />
        <result property="hsCd" column="HS_CD" />
        <result property="ntvProductName" column="NTV_PRODUCT_NAME" />
        <result property="productName" column="PRODUCT_NAME" />
        <result property="productControlDepCode" column="PRODUCT_CONTROL_DEP_CODE" />
        <result property="unitOfMeasure" column="UNIT_OF_MEASURE" />
        <result property="ntvClassifyCdName" column="NTV_CLASSIFY_CD_NAME" />
        <result property="classifyCdName" column="CLASSIFY_CD_NAME" />
        <result property="tempVoucherDiv" column="TEMP_VOUCHER_DIV" />
        <result property="shipToFrtAreaCd" column="SHIP_TO_FRT_AREA_CD" />
        <result property="shipToBusinessinstruct1ShowFlg" column="SHIP_TO_BUSINESSINSTRUCT1_SHOW_FLG" />
        <result property="shipToNtvBusinessinstruct1" column="SHIP_TO_NTV_BUSINESSINSTRUCT1" />
        <result property="shipToBusinessinstruct2ShowFlg" column="SHIP_TO_BUSINESSINSTRUCT2_SHOW_FLG" />
        <result property="shipToNtvBusinessinstruct2" column="SHIP_TO_NTV_BUSINESSINSTRUCT2" />
        <result property="shipToPackingInstruct1ShowFlg" column="SHIP_TO_PACKING_INSTRUCT1_SHOW_FLG" />
        <result property="shipToNtvPackingInstruct1" column="SHIP_TO_NTV_PACKING_INSTRUCT1" />
        <result property="shipToPackingInstruct2ShowFlg" column="SHIP_TO_PACKING_INSTRUCT2_SHOW_FLG" />
        <result property="shipToNtvPackingInstruct2" column="SHIP_TO_NTV_PACKING_INSTRUCT2" />
        <result property="ntvShipToName1" column="SHIP_TO_NTV_SHIP_TO_NAME1" />
        <result property="shipToName" column="SHIP_TO_NAME" />
        <result property="shipToNtvAddress_1" column="SHIP_TO_NTV_ADDRESS_1" />
        <result property="shipToHalfwidthAddress_1" column="SHIP_TO_HALFWIDTH_ADDRESS_1" />
        <result property="shipToNtvAddress_2" column="SHIP_TO_NTV_ADDRESS_2" />
        <result property="shipToHalfwidthAddress_2" column="SHIP_TO_HALFWIDTH_ADDRESS_2" />
        <result property="shipToNtvAddress_3" column="SHIP_TO_NTV_ADDRESS_3" />
        <result property="shipToHalfwidthAddress_3" column="SHIP_TO_HALFWIDTH_ADDRESS_3" />
        <result property="shipToNtvAddress_4" column="SHIP_TO_NTV_ADDRESS_4" />
        <result property="shipToHalfwidthAddress_4" column="SHIP_TO_HALFWIDTH_ADDRESS_4" />
        <result property="shipToPostalCd" column="SHIP_TO_POSTAL_CD" />
        <result property="shipToCountryCd" column="SHIP_TO_COUNTRY_CD" />
        <result property="shipToCityName" column="SHIP_TO_CITY_NAME" />
        <result property="shipToTel" column="SHIP_TO_TEL" />
        <result property="shipToFax" column="SHIP_TO_FAX" />
        <result property="shipToMailAddress" column="SHIP_TO_MAIL_ADDRESS" />
        <result property="shipToDeliAttention" column="SHIP_TO_DELI_ATTENTION" />
        <result property="shipToDeliDept" column="SHIP_TO_DELI_DEPT" />
        <result property="ntvShipToName2" column="NTV_SHIP_TO_NAME2" />
        <result property="shipToCityCd" column="SHIP_TO_CITY_CD" />
        <result property="subsidiaryNtvShipToName1" column="SUBSIDIARY_NTV_SHIP_TO_NAME1" />
        <result property="subsidiaryShipToName" column="SUBSIDIARY_SHIP_TO_NAME" />
        <result property="mcSpecifyVoucherDiv" column="MC_SPECIFY_VOUCHER_DIV" />
        <result property="deliNoteSendFlg" column="DELI_NOTE_SEND_FLG" />
        <result property="custFrtAreaCd" column="CUST_FRT_AREA_CD" />
        <result property="comInvFlg" column="COM_INV_FLG" />
        <result property="comInvPrintNumOrgn" column="COM_INV_PRINT_NUM_ORGN" />
        <result property="comInvPrintNumCopy" column="COM_INV_PRINT_NUM_COPY" />
        <result property="comInvRetainFlg" column="COM_INV_RETAIN_FLG" />
        <result property="deliOrderFlg" column="DELI_ORDER_FLG" />
        <result property="deliOrderPrintNumOrgn" column="DELI_ORDER_PRINT_NUM_ORGN" />
        <result property="deliOrderPrintNumCopy" column="DELI_ORDER_PRINT_NUM_COPY" />
        <result property="deliOrderRetainFlg" column="DELI_ORDER_RETAIN_FLG" />
        <result property="packListFlg" column="PACK_LIST_FLG" />
        <result property="packListPrintNumOrgn" column="PACK_LIST_PRINT_NUM_ORGN" />
        <result property="packListPrintNumCopy" column="PACK_LIST_PRINT_NUM_COPY" />
        <result property="packListRetainFlg" column="PACK_LIST_RETAIN_FLG" />
        <result property="invPackFlg" column="INV_PACK_FLG" />
        <result property="invPackPrintNumOrgn" column="INV_PACK_PRINT_NUM_ORGN" />
        <result property="invPackPrintNumCopy" column="INV_PACK_PRINT_NUM_COPY" />
        <result property="invPackRetainFlg" column="INV_PACK_RETAIN_FLG" />
        <result property="ecalCustCd" column="ECAL_CUST_CD" />
        <result property="ntvCustName1" column="NTV_CUST_NAME1" />
        <result property="custName" column="CUST_NAME" />
        <result property="custNtvAddress_1" column="CUST_NTV_ADDRESS_1" />
        <result property="custHalfwidthAddress_1" column="CUST_HALFWIDTH_ADDRESS_1" />
        <result property="custNtvAddress_2" column="CUST_NTV_ADDRESS_2" />
        <result property="custHalfwidthAddress_2" column="CUST_HALFWIDTH_ADDRESS_2" />
        <result property="custNtvAddress_3" column="CUST_NTV_ADDRESS_3" />
        <result property="custHalfwidthAddress_3" column="CUST_HALFWIDTH_ADDRESS_3" />
        <result property="custNtvAddress_4" column="CUST_NTV_ADDRESS_4" />
        <result property="custHalfwidthAddress_4" column="CUST_HALFWIDTH_ADDRESS_4" />
        <result property="custCountryCdMst" column="CUST_COUNTRY_CD_MST" />
        <result property="custCityName" column="CUST_CITY_NAME" />
        <result property="custCityCd" column="CUST_CITY_CD" />
        <result property="custTel" column="CUST_TEL" />
        <result property="custFax" column="CUST_FAX" />
        <result property="custBusinessinstruct1ShowFlg" column="CUST_BUSINESSINSTRUCT1_SHOW_FLG" />
        <result property="custNtvBusinessinstruct1" column="CUST_NTV_BUSINESSINSTRUCT1" />
        <result property="custBusinessinstruct2ShowFlg" column="CUST_BUSINESSINSTRUCT2_SHOW_FLG" />
        <result property="custNtvBusinessinstruct2" column="CUST_NTV_BUSINESSINSTRUCT2" />
        <result property="custPackingInstruct1ShowFlg" column="CUST_PACKING_INSTRUCT1_SHOW_FLG" />
        <result property="custNtvPackingInstruct1" column="CUST_NTV_PACKING_INSTRUCT1" />
        <result property="custPackingInstruct2ShowFlg" column="CUST_PACKING_INSTRUCT2_SHOW_FLG" />
        <result property="custNtvPackingInstruct2" column="CUST_NTV_PACKING_INSTRUCT2" />
        <result property="custOfficeLicenseNo" column="CUST_CUST_OFFICE_LICENSE_NO" />
        <result property="custBillToCd" column="CUST_BILL_TO_CD" />
        <result property="productGenericNameFlg" column="PRODUCT_GENERIC_NAME_FLG" />
        <result property="taxAreaCd" column="TAX_AREA_CD" />
        <result property="taxFreeFlg" column="TAX_FREE_FLG" />
        <result property="countryOfOrignShowFlg" column="COUNTRY_OF_ORIGN_SHOW_FLG" />
        <result property="frtDiscountFlg" column="FRT_DISCOUNT_FLG" />
        <result property="specialCustBoxNo" column="SPECIAL_CUST_BOX_NO" />
        <result property="specialCustBoxGrp" column="SPECIAL_CUST_BOX_GRP" />
        <result property="discountShowFlg" column="DISCOUNT_SHOW_FLG" />
        <result property="hsCdShowFlg" column="HS_CD_SHOW_FLG" />
        <result property="netWeightShowFlg" column="NET_WEIGHT_SHOW_FLG" />
        <result property="ntvCustName2" column="NTV_CUST_NAME2" />
        <result property="cellCd" column="CELL_CD" />
        <result property="custMailAddressFlg" column="CUST_MAIL_ADDRESS" />
        <result property="packingFlg" column="PACKING_FLG" />
        <result property="packingPrintNumOrgn" column="PACKING_PRINT_NUM_ORGN" />
        <result property="packingPrintNumCopy" column="PACKING_PRINT_NUM_COPY" />
        <result property="packingRetainFlg" column="PACKING_RETAIN_FLG" />
        <result property="engPackingFlg" column="ENG_PACKING_FLG" />
        <result property="engPackingPrintNumOrgn" column="ENG_PACKING_PRINT_NUM_ORGN" />
        <result property="engPackingPrintNumCopy" column="ENG_PACKING_PRINT_NUM_COPY" />
        <result property="engPackingRetainFlg" column="ENG_PACKING_RETAIN_FLG" />
        <result property="tmpPackingFlg" column="TMP_PACKING_FLG" />
        <result property="tmpPackingPrintNumOrgn" column="TMP_PACKING_PRINT_NUM_ORGN" />
        <result property="tmpPackingPrintNumCopy" column="TMP_PACKING_PRINT_NUM_COPY" />
        <result property="tmpPackingRetainFlg" column="TMP_PACKING_RETAIN_FLG" />
        <result property="invoiceFlg" column="INVOICE_FLG" />
        <result property="invoicePrintNumOrgn" column="INVOICE_PRINT_NUM_ORGN" />
        <result property="invoicePrintNumCopy" column="INVOICE_PRINT_NUM_COPY" />
        <result property="invoiceRetainFlg" column="INVOICE_RETAIN_FLG" />
        <result property="customerNtvCustName1" column="CUSTOMER_NTV_CUST_NAME1" />
        <result property="customerCustName" column="CUSTOMER_CUST_NAME" />
        <result property="labelEarlyDiv" column="LABEL_EARLY_DIV" />
        <result property="ntvBusinessInstruct1J" column="NTV_BUSINESS_INSTRUCT1_J" />
        <result property="ntvBusinessInstruct2J" column="NTV_BUSINESS_INSTRUCT2_J" />
        <result property="ntvBusinessInstruct3J" column="NTV_BUSINESS_INSTRUCT3_J" />
        <result property="ntvBusinessInstruct4J" column="NTV_BUSINESS_INSTRUCT4_J" />
        <result property="ntvBusinessInstruct5J" column="NTV_BUSINESS_INSTRUCT5_J" />
        <result property="ntvPackingInstruct1J" column="NTV_PACKING_INSTRUCT1_J" />
        <result property="ntvPackingInstruct2J" column="NTV_PACKING_INSTRUCT2_J" />
        <result property="ntvPackingInstruct3J" column="NTV_PACKING_INSTRUCT3_J" />
        <result property="ntvPackingInstruct4J" column="NTV_PACKING_INSTRUCT4_J" />
        <result property="ntvPackingInstruct5J" column="NTV_PACKING_INSTRUCT5_J" />
        <result property="ntvBillToName" column="NTV_BILL_TO_NAME" />
        <result property="billToName" column="BILL_TO_NAME" />
        <result property="billToNtvAddress_1" column="BILL_TO_NTV_ADDRESS_1" />
        <result property="billToHalfwidthAddress_1" column="BILL_TO_HALFWIDTH_ADDRESS_1" />
        <result property="billToNtvAddress_2" column="BILL_TO_NTV_ADDRESS_2" />
        <result property="billToHalfwidthAddress_2" column="BILL_TO_HALFWIDTH_ADDRESS_2" />
        <result property="billToNtvAddress_3" column="BILL_TO_NTV_ADDRESS_3" />
        <result property="billToHalfwidthAddress_3" column="BILL_TO_HALFWIDTH_ADDRESS_3" />
        <result property="billToNtvAddress_4" column="BILL_TO_NTV_ADDRESS_4" />
        <result property="billToHalfwidthAddress_4" column="BILL_TO_HALFWIDTH_ADDRESS_4" />
        <result property="billToNtvBillToDept" column="BILL_TO_NTV_BILL_TO_DEPT" />
        <result property="billToPostalCd" column="BILL_TO_POSTAL_CD" />
        <result property="billToCountryCd" column="BILL_TO_COUNTRY_CD" />
        <result property="billToTel" column="BILL_TO_TEL" />
        <result property="faxBillTo" column="FAX_BILL_TO" />
        <result property="ntvBillToPerson" column="NTV_BILL_TO_PERSON" />
        <result property="ntvReceivableRemarks_1" column="NTV_RECEIVABLE_REMARKS_1" />
        <result property="ntvReceivableRemarks_2" column="NTV_RECEIVABLE_REMARKS_2" />
        <result property="uniformInvType" column="UNIFORM_INV_TYPE" />
        <result property="arCloseUnit" column="AR_CLOSE_UNIT" />
        <result property="arClosingDay" column="AR_CLOSING_DAY" />
        <result property="serviceStopDiv" column="SERVICE_STOP_DIV" />
        <result property="taxInExDiv" column="TAX_IN_EX_DIV" />
        <result property="receivableMcCd" column="RECEIVABLE_MC_CD" />
        <result property="barcodeGlobalNo" column="BARCODE_GLOBAL_NO" />
        <result property="supplierInvNo" column="SUPPLIER_INV_NO" />
        <result property="childSeq" column="CHILD_SEQ" />
        <result property="globalNoPo" column="GLOBAL_NO_PO" />
        <result property="subsidiaryPlantDeptName" column="SUBSIDIARY_PLANT_DEPT_NAME" />
        <result property="subsidiaryPlantAddress_1" column="SUBSIDIARY_PLANT_ADDRESS_1" />
        <result property="subsidiaryPlantAddress_2" column="SUBSIDIARY_PLANT_ADDRESS_2" />
        <result property="subsidiaryPlantAddress_3" column="SUBSIDIARY_PLANT_ADDRESS_3" />
        <result property="subsidiaryPlantAddress_4" column="SUBSIDIARY_PLANT_ADDRESS_4" />
        <result property="subsidiaryPlantPostalCd" column="SUBSIDIARY_PLANT_POSTAL_CD" />
        <result property="subsidiaryPlantTel" column="SUBSIDIARY_PLANT_TEL" />
        <result property="subsidiaryPlantFax" column="SUBSIDIARY_PLANT_FAX" />
        <result property="ntvDeptNameAbb" column="NTV_DEPT_NAME_ABB" />
        <result property="plantDeptTel" column="PLANT_DEPT_TEL" />
        <result property="orderMsgCd" column="ORDER_MSG_CD" />
	</resultMap>

	<select id="findInptData" resultMap="InptMap">
		SELECT id, name, age, des
		FROM customers
		WHERE name LIKE #{name}
		ORDER BY id ASC LIMIT #{_skiprows}, #{_pagesize}
	</select>
</mapper>