<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jp.co.misumi.mapper.OutptDataMapper">

	<update id="updateTable" parameterType="jp.co.misumi.model.OutptData">
		update t_ondemand_shipment
		set status_cd = '0003',
			magi_extract_target_flg = '0',
			upd_pg = 'FVQ_MagiLinkJob',
			upd_sys_time = LOCALTIME(),
			upd_count = upd_count + 1,
			upd_subsidiary_time = LOCALTIME(),
			upd_local_time = LOCALTIME()
		where 0 = 0
		and subsidiary_cd = #{subsidiaryCd}
		and global_no = #{globalNo}
		and child_seq = #{childSeqKey}
		and so_date = #{soDateKey}
	</update>
</mapper>