<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jp.co.misumi.mapper.OutptDataMapper">

	<update id="updateTable" parameterType="jp.co.misumi.model.OutptData">
		UPDATE T_ONDEMAND_SHIPMENT
		SET STATUS_CD = '0003',
			MAGI_EXTRACT_TARGET_FLG = '0',
			UPD_PG = 'FVQ_MagiLinkJob',
			UPD_SYS_TIME = CONVERT_TZ(UTC_TIMESTAMP(), '+00:00', '+09:00'),
			UPD_COUNT = UPD_COUNT + 1,
			UPD_SUBSIDIARY_TIME = CONVERT_TZ(UTC_TIMESTAMP(), '+00:00', '+09:00'),
			UPD_LOCAL_TIME = CONVERT_TZ(UTC_TIMESTAMP(), '+00:00', '+09:00')
		WHERE 0 = 0
		AND SUBSIDIARY_CD = #{subsidiaryCd}
		AND GLOBAL_NO = #{globalNo}
		AND CHILD_SEQ = #{childSeqKey}
		AND SO_DATE = #{soDateKey}
	</update>
</mapper>