<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jp.co.sysevo.mapper.OutptDataMapper">

	<!-- 
	<update id="updateTable" parameterType="jp.co.sysevo.model.ResultList">
		update customers set 
		<foreach item="item" index="index" collection="list" separator=";">
			send_flg = #{item.sendFlg},
			upd_ts = #{item.updTs}
			where id = #{item.id}
		</foreach>
	</update>
	-->
	<update id="updateTable" parameterType="jp.co.sysevo.model.OutptData">
		update customers
		set send_flg = #{sendFlg},
			upd_ts = #{updTs}
			where id = #{id}
	</update>
</mapper>