<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE logback>

<configuration>
	<!-- 下記は環境に応じて変更すること。  -->
	<property name="LoggingDir" value="../workspace/spring-batch/log/" />
	<property name="ROOT_LEVEL" value="INFO" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy/MM/dd HH:mm:ss.SSS} [%thread] %-5level %class %line : %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${LoggingDir}cxf.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${LoggingDir}cxf.%d{yyyy-MM-dd}.zip</FileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy/MM/dd HH:mm:ss.SSS} [%thread] %-5level %class %line : %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="jp.co.misumi" level="INFO">
		<appender-ref ref="FILE" />
	</logger>
	<logger name="org.springframework" level="INFO">
		<appender-ref ref="STDOUT" />
	</logger>

	<root level="${ROOT_LEVEL}">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>